// import variable and mixin
@import 'variable', 'mixin';




@media (min-width: 330px) {

}


@media (min-width: 400px) {
    header{
        .title-container{
            img{
                width: 40px;
            }
            h1{
                @include show(block);
                font-size: $font-sm;
                color: $human;
            }
        }
        
    }
}
@media (min-width: 480px) {
    header{
        .list-icon-container{
            @include hide;
        }
    }

    nav{
        @include show(block);
    }

    nav{
        position: static;
        border-radius: 0px;
        @include flexBox(row, center, center);
        padding: $padding-xs;
        background-color: $white;
        ul{
            @include flexBox(row, center, center);
        }
    }

    footer{
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 576px) {
    main{
        #story{
            .first-div{
                flex-direction: row;
            }
            .second-div{
                flex-direction: row-reverse;
            }
            .div{
                .left,
                .right{
                    width: 50%;
                }
            }
        }
    }
    footer{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width: 768px) {
    header{
        padding-left: $padding-xxl;
        padding-right: $padding-xxl;
    }
    footer{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media (min-width: 992px) {
    footer{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}
@media (min-width: 1200px) {
    
}

@media (min-width: 1400px) {
    
}