$font-xxl: 2rem;
$font-xl: 1.813rem;
$font-lg: 1.625rem;
$font-md: 1.413rem;
$font-sm: 1.125rem;
$font-xs: 0.813rem;
$font-xxs: 0.413rem;



$padding-xxl: 2rem;
$padding-xl: 1.813rem;
$padding-lg: 1.625rem;
$padding-md: 1.413rem;
$padding-sm: 1.125rem;
$padding-xs: 0.813rem;
$padding-xxs: 0.413rem;




$margin-xxl: 2rem;
$margin-xl: 1.813rem;
$margin-lg: 1.625rem;
$margin-md: 1.413rem;
$margin-sm: 1.125rem;
$margin-xs: 0.813rem;
$margin-xxs: 0.413rem;



$black: #000;
$light-black: #00000080;
$white: #fff;
$human: rgb(238, 186, 15);
